const PORT=
const MONGODB_USER=
const MONGODB_PASSWORD=
const MONGODB_URL=
const MONGODB_DB=
const MONGODB_CLUSTER_NAME=

const SMTP_HOST=
const SMTP_PORT=
const SMTP_USER=
const SMTP_PASSWORD=
const SMTP_FROM=

JWT_SECRET=
APP_DOMAIN=
CLOUD_NAME=
API_KEY=
API_SECRET=
ENABLE_CLOUDINARY=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=



